@import url('https://fonts.googleapis.com/css2?family=Cookie&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Cookie&family=Lobster+Two:ital,wght@1,700&family=Playfair+Display+SC:ital@0;1&family=Tapestry&display=swap');



.nav {
    float: right;
}

.topnav a {
    float: right;
    padding: 15px;
    color: black;
}



img {
    width: 20%;
    height: 15rem;
    object-fit: cover;
    border-radius: 30px;
    float: right;
    margin: 10px;
    
}

body {
    height: 100vh;
    background: linear-gradient(
        to right,
        rgb(77, 74, 74) 0%,
        rgb(77, 74, 74) 50%,
        rgb(202, 137, 16) 0%,
        rgb(202, 137, 16) 50%
    );
    color: white;

}

.main {
    font-family: Playfair Display SC;
    font-size: 40px;
}

.history, .journey {
    border-style: solid;
    width: 500px;
    height: 600px;
    padding: 15px;
    margin: 10px;
    box-shadow: 0 0 30px gray;
    border: hidden;
    
}


#title {
    color: white;
    font-size: 50px;
    border: hidden;
    padding-top: 50px ;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    text-shadow: 3px 3px 5px rgb(202, 137, 16);
    
}



.journey {
    width: 500px;
    height: 300px;
}


p::first-letter {
    font-weight: bold;
    font-size: 140%;
}




@media screen and (min-width: 768px) {
}